.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.lead__title {
  max-width: 900px;
  margin: 0 0 32px 0;
  font-family: "Inter", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0;
}

.lead__subtitle {
  width: 710px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  font-style: normal;
  margin: 0 0 64px 0;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-bottom: 92px;
}
