.places {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title list"
    "image paragraph"
    "nft paragraph";
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px 0 0 0;
}

.place__title {
  grid-area: title;
  max-width: 460px;
  width: 100%;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;.Intro {
    max-width: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 410px 118px 148px;
  }

  .Intro__title {
    max-width: 830px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0;
    margin: 0 0 40px 0;
  }

  .Intro__text {
    max-width: 738px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
  }
  .Intro__quote {
    max-width: 732px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }

  .Intro__details {
    max-width: 722px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 32px 0 0 0;
  }

  @media screen and (max-width: 1024px) {
    .Intro {
      max-width: 720px;
      width: 100%;
      margin: 0 auto 64px auto;
    }
    .Intro__title {
      max-width: 707px;
      width: 100%;
      font-size: 45px;
      margin-bottom: 50px;
    }
  }
  .Intro__quote {
    display: flex;
    justify-content: end;
  }
  .Intro__details {
    max-width: 720px;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    .Intro {
      max-width: 288px;
      width: 100%;
      margin-bottom: 38px;
    }
    .Intro__title {
      max-width: 288px;
      width: 100%;
      height: 140px;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 40px;
    }
    .Intro__text {
      max-width: 288px;
      width: 100%;
      font-size: 24px;
      line-height: 30px;
    }
    .Intro__quote {
      max-width: 288px;
      width: 100%;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      text-align: right;
    }
    .Intro__details {
      max-width: 288px;
      width: 100%;;
    }
  }
  line-height: 76px;
  margin: 0;
}
.place__list {
  grid-area: list;
  margin: 0 0 8px 0;
  list-style: none;
  max-width: 456px;
  width: 100%;
  align-self: end;
  padding: 0;
}
.place__url-heading {
  max-width: 85px;
  width: 100%;
  color: #aaaaaa;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.place__artist {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0;
}
.place__item:hover {
  opacity: 0.5;
}

.place__item {
  grid-area: image;
  max-width: 100%;
  margin: 0;
  height: 460px;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__paragraphs {
  grid-area: paragraph;
  margin: 0;
}
.place__paragraph {
  max-width: 484px;
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0;
  margin: 0 0 25px 0;
}

.place__NFT {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  max-width: 315px;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.place__NFT-back:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.place__NFT-back {
  max-width: 356px;
  width: 100%;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  height: max-content;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 720px;
    width: 100%;
    margin: 72px auto 72px auto;
    column-gap: 28px;
    grid-template-rows: auto 340px auto;
  }
  .place__title {
    max-width: 340px;
    width: 100%;
    font-size: 42px;
    line-height: 46px;
  }
  .place__list {
    max-width: 352px;
    width: 100%;
  }

  .place__url-heading {
    max-width: 67px;
    width: 100%;
  }

  .place__item {
    width: 340px;
    height: 340px;
  }
  .place__paragraph {
    max-width: 352px;
    width: 100%;
  }
  .place__NFT-back {
    width: 315px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    max-width: 320px;
    width: 100%;
  }
  .place {
    max-width: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "list"
      "image"
      "paragraph"
      "nft";
    row-gap: 30px;
    margin: 50px auto 50px auto;
  }
  .place__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
  .place__list {
    max-width: 288px;
    width: 100%;
  }
  .place__url-heading {
    max-width: 288px;
    width: 100%;
  }
  .place__paragraph {
    max-width: 288px;
    width: 100%;
  }
  .place__NFT-back {
    width: 288px;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
  }

  .place__item {
    width: 320px;
    margin: 0;
    height: 320px;
  }
}
