.places {
  width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title list"
    "image paragraph"
    "nft paragraph";
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px 0 0 0;
}

.places__title {
  grid-area: title;
  width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}
.places__list {
  grid-area: list;
  margin: 0 0 8px 0;
  list-style: none;
  width: 456px;
  align-self: end;
  padding: 0;
}
.places__url-heading {
  width: 85px;
  color: #aaaaaa;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.places__artist {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  margin: 0;
}
.places__item:hover {
  opacity: 0.5;
}

.places__item {
  grid-area: image;
  max-width: 100%;
  margin: 0;
  height: 460px;
  object-fit: cover;
}

.places__paragraphs {
  grid-area: paragraph;
  margin: 0;
}
.places__paragraph {
  width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
  margin: 0 0 25px 0;
}

.places__NFT {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  width: 315px;
  text-decoration: none;
  color: inherit;
}

.places__NFT-back:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.places__NFT-back {
  width: 356px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  height: max-content;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 720px;
    margin: 72px auto 72px auto;
    column-gap: 28px;
    grid-template-rows: auto 340px auto;
  }
  .places__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .places__list {
    width: 352px;
  }

  .places__url-heading {
    width: 67px;
  }

  .places__item {
    width: 340px;
    height: 340px;
  }
  .places__paragraph {
    width: 352px;
  }
  .places__NFT-back {
    width: 315px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 320px;
  }
  .place {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "list"
      "image"
      "paragraph"
      "nft";
    row-gap: 30px;
    margin: 50px auto 50px auto;
  }
  .places__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .places__list {
    width: 288px;
  }
  .places__url-heading {
    width: 288px;
  }
  .places__paragraph {
    width: 288px;
  }
  .places__NFT-back {
    width: 288px;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
  }

  .places__item {
    width: 320px;
    margin: 0;
    height: 320px;
  }
}
